<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="HistoricalOutputConfiguration" type="ethosIQ_Repost_Tool.Configuration.HistoricalOutputConfigurationSection, ethosiQ-Repost-Tool"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="DatabaseType" value ="SQLite"/>
    <add key="DataSource" value="C:\Users\mallen\Desktop\CEP.db"/><!-- File Path goes here-->
    <add key="Server" value="null"/>
    <add key="Port" value="0"/>
    <add key="Username" value="null"/>
    <add key="Password" value="null"/>

    <add key="Multimedia" value ="true"/>
    <add key="Interval" value ="30"/> <!-- 15 or 30 second intervals only. This is just the default value. Can be changed in the application.-->
    <add key="LocalDirectory" value ="C:\Users\mallen\Desktop"/>

    <add key="SignOnOff" value ="true"/>
  </appSettings>

  <HistoricalOutputConfiguration>
    <HistoricalOutputs>
      <HistoricalOutput Name="IexProd" FTPType="FTP" Host="10.222.7.72" Port="21" Directory="switches/27" Username="anonymous" Password="" PSFTPPath ="" BatchFilePath=""/><!--Password field must be the ciphertext!-->
      <HistoricalOutput Name="BigBoi" FTPType="FTPS" Host="192.168.90.11" Port="21" Directory="/" Username="SXM_WFM" Password="TE5Ec9CshP5zU61P0pyilQ==" PSFTPPath ="" BatchFilePath=""/>
      <!--Password field must be the ciphertext!-->
    </HistoricalOutputs>
  </HistoricalOutputConfiguration>
  
</configuration>